.hero-img{
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-img img{
    width:350px;
    height:350px;
    border-radius:50%;
    object-fit:cover;
    object-position:center top;
    border:8px solid #d4a373;
    display:block;
}
