body{
  margin:0;
  font-family:Arial;
  background:#f4f4f4;
}

header{
  background:#0f172a;
  color:white;
  padding:20px;
  text-align:center;
}

nav{
  margin-top:15px;
}

nav a{
  color:white;
  text-decoration:none;
  margin:10px;
  font-size:18px;
}

.hero{
  text-align:center;
  padding:100px 20px;
}

.hero h2{
  font-size:40px;
}

.btn{
  display:inline-block;
  margin-top:20px;
  padding:12px 25px;
  background:#2563eb;
  color:white;
  text-decoration:none;
  border-radius:5px;
}

.content{
  background:white;
  width:80%;
  margin:40px auto;
  padding:30px;
  border-radius:10px;
}

ul li{
  margin:10px 0;
}
